body {
    width: 100%;
    height: 100% px;
    background-color: rosybrown;
}
.wrapper {
    width: 100%;
    height: 100%;
    background-color: #e8edda;
    margin: 0 auto;
}

.table {
    width: 80%;
    height: 100%;
    background-color:#e8edda;
    text-align: center;
    margin: 0 auto;
}
.tab {
    margin: 0 auto;
}
.general {
    background-color:#e8edda;
    text-align: center;
    margin: 0 auto;
}

.input {
    margin: 5px 5px;
    width: 209px;
    height: 31px;
    display: row;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 25px;
    margin: 14px 0px;
    box-shadow: 0px 14px 5px 6px #00000057;
}



.buttons{
    width: 120px;
    height: 40px;
    display: row;
    justify-content: center;
    border-radius: 10px;
    border: none;
    background-color: #223d73;
    margin-right: 50px;
    margin: 0px auto;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    color: white;
    box-shadow: 0px 14px 5px 6px #00000057;
}

.num {
    justify-content: center;
    border-radius: 4px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 25px;
    margin: 14px 0px;
    width: 46px;

}

.buttons:hover {
    background-color: #375694;
}

.buttons:active {
    background-color: #1c325f;
    color: #bc8f8f;
}

.sys-button {
    background-color: #223d73;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    height: 20px;
}

.sys-button:hover {
    background-color: #375694;
}

.sys-button:active {
    background-color: #1c325f;
    color: #bc8f8f;
}